
body{
    font-family: Arial, Helvetica, sans-serif;
}
section{ 
    text-align: center;
    margin-top: 1rem;
    color:rgb(197, 10, 10);
   
}
.avenge{
 display: flex ;
    flex-wrap: wrap;
    justify-content:center; 
    align-items: center 
}

.avengers{
    background: #ffffee;
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
    margin:1rem;
    color:rgb(197, 10, 10);
}

span{
    font-size: large;
    font-weight: lighter;
}