section{ 
    display: flex ;
    flex-wrap: wrap;
    justify-content:center; 
    align-items: center 
}

.avengers{
    background: #ffffee;
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
    margin:1rem
}